.imgSlider{
   width: 1000px;
   margin: auto;
   margin-top: 20px;
   border-radius: 10px;
  }
  
  .slideImgs {
    width: 1000px;
    height: 370px;
    margin: auto;
    border-radius: 30px;
    object-fit: cover; 
}
